html {
	height:100%;
	width:100%;
  font-family: Courier New;
}

body {
	height:100%;
	width:100%;
  position: fixed;
}

#main {
  height: 700px;
  width: 90%;
  margin: auto;
  border-radius: 2px;
  border: 1px solid lightgrey;
}

#menu {
  position: relative;
  top: 10px;
  height: 80px;
  width: 90%;
  margin: auto;
  border-radius: 2px;
  border: 1px solid lightgrey;
}

#chart {
  position: relative;
  top: 10px;
  height: 600px;
  width: 95%;
  margin: auto;
  z-index: -1;
}

.graph {
  position: absolute;
  top: 23px;
  width: 100px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid lightgrey;
  cursor: pointer;
  font-size: 25px;
}

#graph0 {
	left: 420px;
	width: 200px;
}

#graph1 {
	left: 650px;
}

#myCanvas {
	position: relative;
	top: 10px;
	border: 1px solid lightgrey;
	margin:auto;
}
.param {
	position: absolute;
  top: 23px;
}

#cVal {
	left: 420px;
}

#iter {
  position: absolute;
  left: 950px;
  top: 23px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid lightgrey;
  cursor: pointer;
  font-size: 25px;
}
